body{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background-color: #FEFBF6;
    padding: 0;
}

h1{
    font-family: "Roboto Mono", monospace;
}

a{
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

#landingPage{
    margin: 0;
    background-color: #FEFBF6;
}

#mainSection{
    padding: 25vh 15vw 0 15vw; 
    min-height: 95vh;
    color: #5C636E;
    background-image: url('/images/books.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 30%;
}

.headingDiv{
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
}



#mainSection h3{
    font-size: 200%;
}



.row{
    margin: 0;
}

#latestAddition{
    padding: 5vh 20vw;
}

#latestAddition h1, #current h1{
    padding-top: 5vh;
    color: #393E46;
    font-weight: 200;
}

#latestAddition .btn{
    background-color: none;
    color: #393E46;
    padding: 10px;
    border-radius: 0%;
    border: solid 1px #5C636E;
}

#latestAddition .btn:hover{
    border-radius: 10px;
    background-color: #393E46;
    color:#FEFBF6;
}

.book, .cover{
    height: 150px;
    box-shadow: -10px 5px 5px #e8e5e0;
    margin: 3%;
    filter: brightness(90%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.book:hover, .cover:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(100%);
}

#current{
    padding: 0vh 20vw;
}
#current h1{
    padding-top: 0;
}

.currentCover{
    text-align: right;
}

#current .description{
    text-align: justify;
    padding-left: 50px;
}

#current a{
    text-decoration: underline;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.write{
    margin: 10%;
    padding: 10%;
    background-color: #393E46;
    color: #FEFBF6;
    box-shadow: -10px 5px 5px #e8e5e0;
}

.write input{
    width: 60%;
    padding: 10px;
    box-shadow: none;
    background-color: #FEFBF6;
    color: #393E46;
    border-radius: 5px;
    border: none;
}

.write select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60%;
    padding: 10px;
    background-color: #FEFBF6;
    color: #393E46;
    border-radius: 5px;
    border: none;
}
.write .btn{
    background-color: transparent;
    border: solid 1px #FEFBF6;
    color: #FEFBF6;
    border-radius: 0%;
}

.write .btn:hover{
    background-color: #FEFBF6;
    color: #393E46;
    border-radius: 5px;
}

.write #part2, .write #part3{
    display: none;
}

.write textarea{
    height: 50vh;
    width: 50vw;
    border: none;
    border-radius: 5px;
    padding: 10px
}

.write .cover{
    box-shadow: -10px 5px 5px #393E46;
}

.write i{
    font-size: 30px;
}

.write i:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

#bookPage .header{
    background-color: #e8e5e0;
    padding: 15vh 15vw 30vh 15vw;
}
#bookPage .content{
    background-color: #393E46;
    color: #FEFBF6;
    padding: 10vh 10vw;
}

#bookPage .content .col-4 img{
    box-shadow: none;
    height: 30vh;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
#bookPage .content .col-4 p{
    text-align: left;
}
#bookPage .content .col-6{
    margin: auto;
    padding: 5%;
    background-color: #FEFBF6;
    color: #393E46;
    text-align: justify;
    border-radius: 5px;
}

@media (min-width: 850px){
    h1.heading{
        color: #393E46;
        letter-spacing: 15px;
        font-size: 5vw;
        position: relative;
        width: max-content;
        text-decoration: underline;
        text-decoration-style: wavy;
    }

    .heading::before, .heading::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FEFBF6;
    }
    .heading::before{
        animation: typing 4s steps(16) forwards 0.1s;
    }
    
    .heading::after{
        width: 0.125em;
        background-color:#393E46;
        animation: 
        typing 4s steps(16) forwards 0.1s,
        blink 750ms infinite;
    }

    #mainSection p{
        font-size: large;
        padding: 0 5%;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadein 2s ease 4.5s forwards;
    }

    #bookPage .content .col-4{
        position: relative;
        bottom: 25vh;
        overflow: scroll;  
    }
    #bookPage .content .col-4 > .description > div{
        min-height: 40vh;
        max-height: 45vh;
        overflow: scroll;
    }
    #bookPage .content .col-6{
        position: relative;
        bottom: 25vh;
        min-height: 75vh;
        max-height: 80vh;
        overflow: scroll;    
    }
    .readMore1, .readMore2, .showLess2, .showLess1{
        display: none;
    }
    
}

@media (max-width: 850px) {
    #current .currentCover, #current .description{
        display: block;
        width: 100%;
        text-align: justify;
        padding: 0;
        padding-top: 10px;
    } 

    #current .currentCover{
        text-align: center;
    }

    #current{
        padding: 0 10vw;
    }

    #bookPage .content .col-4, #bookPage .content .col-6 {
        display: block;
        width: 80vw;
    }
    #bookPage .content .col-4 .description{
        text-align: justify;
    }

    .div1, .div2{
        height: auto;
        display: grid;
        grid-template-rows: 0.5fr;
        transition: grid-template-rows 2s ease-in;
    }

    .div1 > div, .div2 > div{
        overflow: hidden;
    }

    .div1 > .btn, .div2 > .btn{
        height: 40px;
    }
    .visibility{
        grid-template-rows: 1fr;
 
    }
    .showLess2, .showLess1{
        display: none;
    }
}

@keyframes typing {
    to{
        left: 100%
    }
}

@keyframes blink {
    to{
        background-color: transparent;
    }
}

@keyframes fadein {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

